<h3>
    程式請求時發生了一個內部錯誤，我們會反饋給團隊，我們正在努力解決這個問題。
</h3>
<h5>請通過 ltm@ddxc.org 與我們取得聯繫</h5>
<hr />
<h3>錯誤詳情:</h3>
<div class="alert alert-danger">
    <h5>異常路徑：</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>異常訊息：</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>異常堆棧跟踪：</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>