@{
    ViewBag.Title = "頁面不存在";
}

<h1>@ViewBag.ErrorMessage</h1>
<h1>@ViewBag.Path</h1>

<h1>@ViewBag.QS</h1>
@*<h1>@ViewBag.PathBase</h1>*@

<a asp-action="index" asp-controller="home">
    點擊此處返回首頁
</a>